.lead {
    border: 1px solid blue;
    max-width: 984px;
    /*width: calc(100% - 296px);*/
    /*min-height: 1005px;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 56px;

    align-items: center;
    margin-left: auto;
    margin-right: auto;
}


@media screen and (max-width: 1024px) {
    .lead{
       max-width: 928px;
       /*min-height: 962px;*/
       padding-top: 48px;
    }
    
}

@media screen and (max-width: 768px) {
    .lead{
        max-width: 768px;
        /*min-height: 862px;*/
        
    }
    
}

@media screen and (max-width: 320px) {
    .lead{
        max-width: 320px;
        /*min-height: 406px;*/
    }
    
}
