.lead {
    border: 1px solid blue;
    max-width: 984px;
min-height: 1005px;
display: flex;
flex-direction: column;
justify-content: center;

align-items: center;
margin-left: auto;
margin-right: auto;
}