.cover__subtitle {
    border: chartreuse 1px solid;

    max-width: 360px;
    
    font-family: inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* or 122% */
    
    text-align: center;
    
    color: #FFFFFF;
    z-index: 2;
    position: relative;
    
}