.intro__list {
    border: 1px solid yellow;
    
max-width: 690px;

font-family: inter;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 18px;
list-style-type: none;


color: #FFFFFF;
padding: 0;
margin: 0;

}

@media screen and (max-width: 768px) {
    .intro__list{
        width: 100%;
        
    }
    
}