.place__paragraph {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 161%;
    margin-top: 0px;
    margin-bottom: 26px;
    color: #FFFFFF;
}
    
.place__paragraph:nth-child(2) {margin-bottom: 0;}

.place__paragraph:last-child {margin-bottom: 0;}

@media screen and (max-width: 768px) {
    .place__paragraph {
        font-size: 16px;
    }
}

@media screen and (max-width: 767px) {
    .place__paragraph {
        margin-left: 16px;
        margin-right: 16px;
    }
}