.intro {
  max-width: 984px;
  margin-top: 92px;
  margin-bottom: 92px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1279px) {
  .intro {
    max-width: 928px;
  }
}

@media (max-width: 1023px) {
  .intro {
    margin-top: 88px;
    /*max-width: 720px;*/
    width: calc(100% - 48px);
  }
}

@media (max-width: 767px) {
  .intro {
    width: calc(100% - 32px);
    margin-top: 64px;
    margin-bottom: 64px;
  }
}
