.lead__subtitle {
    border: 1px solid blue;
    max-width: 640px;
    min-height: 72px;
    font-family: inter;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 64px;
    margin-top: 0;
}

@media screen and (max-width: 1024px) {
    .lead__subtitle {
        margin-bottom: 56px;
    
    }
}

@media screen and (max-width: 320px) {
    .lead__subtitle {
        margin-bottom: 40px;
    
    }
}

@media screen and (max-width: 320px) {
    .lead__subtitle{
        max-width: 288px;
        min-height: 40px;
        font-size: 16px;
        line-height: 20px;
    }
    
}
