.cover {
    border: chartreuse 1px solid;
    
    max-width: 1184px;
    min-height: 740px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    margin-bottom: 92px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cover::before {
    content: "";
    display: block;
    background-color: #2A2C2F;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0.3;
    z-index: 1;
    transition: ease 0.5s opacity;
    

}

.cover:hover:before {
    
    opacity: 0.8;

}