.footer {
  max-width: 1184px;
  min-height: 18px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 74px;
  margin-bottom: 24px;
}

@media (max-width: 1279px) {
  .footer {
    width: calc(100% - 96px);
  }
}

@media (max-width: 1023px) {
  .footer {
    width: calc(100% - 48px);
    margin-top: 68px;
  }
}

@media (max-width: 767px) {
  .footer {
    max-width: 180px;
    flex-direction: column;
    margin-left: 16px;
    margin-top: 50px;
    align-items: flex-start;
  }
}
